.button {
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0rem 0.7rem;
}

.button.selected {
  color: var(--color-accent-secondary);
  border-top: 0.15rem solid var(--color-accent-secondary);
  border-bottom: 0.15rem solid var(--color-accent-secondary);
}

.button:hover {
  color: var(--color-accent-secondary);
}
