.button {
  border: none;
  background-color: transparent;
  color: #e59500;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0rem 0.7rem;
}

.button.selected {
  color: orange;
  border-bottom: 0.15rem solid #585858;
}

.button:hover {
  color: orange;
}
