.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #eaeaea;
  border-radius: 1rem 1rem 0px 0px;
  border-bottom: 0.1rem solid #b9b9b9;
  padding: 0rem 1rem;
}

.nav {
  margin-right: 0.3rem;
}

.darkMode {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all ease 0.5s;
}

.darkMode:hover {
  color: orange;
}
